/**maxwidth es eso o menos**/
.botonera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.botonera.active {
  opacity: 0.2;
  pointer-events: none;
}

.botonera .selector {
  padding: 1%;
  margin-left: 1%;
  border-color: crimson;
  border-width: medium;
  font-weight: bold;
}

@media (max-width: 770px) {
  .botonera .selector {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .botonera .selector {
    font-size: 12px;
  }
}

.botonera button {
  margin-left: 2%;
  display: hidden;
  padding: 1%;
  border-color: crimson;
  background-color: white;
  font-weight: bold;
}

@media (max-width: 770px) {
  .botonera button {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .botonera button {
    font-size: 12px;
  }
}

.botonera button:hover {
  background-color: green;
}

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 4px solid #c53030;
  z-index: 10;
  background-color: #096480;
  width: 500px;
  max-width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 400px;
  color: white;
  font-weight: bold;
}

.modal p {
  border: double;
  padding: 2%;
  margin: 0;
  text-align: center;
}

.modal p:hover {
  background-color: gold;
  color: black;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.modalRating {
  /*       display: flex;
      flex-direction: row; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 20%;
  left: 5%;
  -webkit-transform: -50%, -50% scale(1);
          transform: -50%, -50% scale(1);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 4px solid white;
  z-index: 10;
  background-color: whitesmoke;
  width: 700px;
  max-width: 80%;
  height: 400px;
  color: black;
  font-weight: bold;
}

.modalRating p {
  text-align: center;
}

.modalRating .pie {
  margin-top: 10%;
  margin-left: 7%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 50px;
  color: black;
  position: relative;
  font-size: 15px;
  /*  display: flex; */
  /*  margin: 10px; */
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  --percentage: 0;
  --fill: #00f;
}

.modalRating .pie:after {
  content: '';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border: 10px solid;
  border-color: #000 #000 var(--fill) var(--fill);
  border-radius: 50%;
  -webkit-transform: rotate(calc(1deg *(-45 + var(--percentage) * 1.8 )));
          transform: rotate(calc(1deg *(-45 + var(--percentage) * 1.8 )));
}

.modal-header {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
  color: black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .closeB {
  border-radius: 50%;
  font-weight: bold;
}

body {
  background: url("../background.png") no-repeat center/cover;
  color: white;
}

body:before {
  content: '';
  background: url("../background.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 390px) {
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 770px) {
  .mainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mainContainer .ratings {
  border: double;
  border-color: crimson;
  height: 300px;
  padding: 1.5%;
}

@media (max-width: 770px) {
  .mainContainer .ratings {
    width: 500px;
    height: 250px;
    font-size: 25px;
  }
}

@media (max-width: 390px) {
  .mainContainer .ratings {
    width: 300px;
    height: 250px;
    font-size: 20px;
  }
}

.mainContainer .ratings h2 {
  border: double;
  font-size: 20px;
}

.mainContainer .shop {
  border: double;
  border-color: crimson;
  height: 300px;
  padding: 1.5%;
}

@media (max-width: 770px) {
  .mainContainer .shop {
    width: 500px;
    height: 300px;
  }
  .mainContainer .shop .price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .shop .btnUnit {
    margin-left: 40%;
  }
}

@media (max-width: 390px) {
  .mainContainer .shop {
    margin-top: 2%;
    width: 300px;
    height: 300px;
  }
  .mainContainer .shop .price {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .shop .btnUnit {
    margin-left: 40%;
  }
}

.mainContainer .shop h2 {
  border: double;
  font-size: 20px;
}

.mainContainer .cuerpo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 770px) {
  .mainContainer .cuerpo {
    margin-top: 3%;
  }
}

.mainContainer .cuerpo ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainContainer .cuerpo ul.slider {
  position: relative;
  width: 500px;
  height: 300px;
}

@media (max-width: 390px) {
  .mainContainer .cuerpo ul.slider {
    margin-top: 3%;
    width: 300px;
    height: 100px;
  }
}

.mainContainer .cuerpo ul.slider li {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: inherit;
  height: inherit;
  background-color: white;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.mainContainer .cuerpo ul.slider li:first-child {
  opacity: 1;
}

.mainContainer .cuerpo ul.slider li:target {
  opacity: 1;
}

.mainContainer .cuerpo ul.slider li img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  border-color: white;
  border-style: double;
}

.mainContainer .cuerpo ul.slider li img hover {
  border-color: gold;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.mainContainer .cuerpo ul.menu {
  text-align: center;
  margin: 20px;
}

@media (max-width: 390px) {
  .mainContainer .cuerpo ul.menu {
    margin-top: 70%;
  }
}

.mainContainer .cuerpo ul.menu li {
  display: inline-block;
  text-align: center;
}

.mainContainer .cuerpo ul.menu li a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainContainer .cuerpo ul.menu li a :hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.mainContainer .cuerpo ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mainContainer .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .mainContainer .price {
    font-size: 30px;
    height: 2%;
  }
}

.mainContainer .price .priceEur {
  margin-left: 5%;
}

.mainContainer .btnUnit {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 770px) {
  .mainContainer .btnUnit {
    height: 9%;
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .mainContainer .btnUnit {
    height: 9%;
    font-size: 20px;
    margin-top: 30%;
  }
}

.mainContainer .units {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 770px) {
  .mainContainer .units {
    font-size: 40px;
    height: 2%;
  }
}

@media (max-width: 390px) {
  .mainContainer .units {
    font-size: 20px;
    height: 2%;
  }
}

.mainContainer .units h5 {
  margin-left: 5%;
}

.mainContainer .finalPrice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 770px) {
  .mainContainer .finalPrice {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 30px;
  }
}

@media (max-width: 390px) {
  .mainContainer .finalPrice {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 20px;
  }
}

.mainContainer .finalPrice h5 {
  margin-left: 5%;
}

@media (max-width: 770px) {
  .mainContainer .btonPrices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .btonPrices button {
    font-size: 20px;
  }
}

@media (max-width: 390px) {
  .mainContainer .btonPrices {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mainContainer .btonPrices button {
    font-size: 15px;
  }
}
/*# sourceMappingURL=styles.css.map */